torch>=2.4.1
transformers>=4.45.1
streamlit>=1.39.0
huggingface_hub>=0.25.1
pandas==2.2.2
google-cloud-storage==2.18.2
spacy==3.8.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
